# CS5228-KDDM, 2025/26-2, Coursework 1

### Introduction
Following the data cleaning phase, the dataset (result1-1.csv) is now assumed to be free of missing values and dirty records. However, to apply mathematical models and distance-based machine learning algorithms, the data must be transformed into a suitable numerical format. Q1-2 focuses on these essential data transformation steps.

The primary objectives of this section are twofold:

* Categorical Encoding: Many machine learning algorithms cannot process text data directly. We will convert specific categorical attributes—namely Workclass (Column B), Education (Column D), and Sex (Column J)—into numerical representations using unique integer labels (pseudo encoding). The intermediate result will be saved as result1-2.csv.


* Data Normalization: As observed in Task 1.1, the Capital Gain (Column K) and Capital Loss (Column L) attributes exhibit extreme sparsity and large numerical ranges. To prevent these large values from dominating distance calculations, we will apply a Z-transform (Standardization) to scale these features so they have a mean of 0 and a standard deviation of 1.

The final, fully preprocessed dataset will be saved as result1-3.csv, ready for subsequent clustering analysis.

#### Student Name: MA YUCHEN
#### Student Number: A0327384X

### CW1, Part 1: Data Preprocessing using Python (2+2=4 marks)

### CW1-1-2: Data Transformation (2 marks) 
#### Datasets: result1-1.csv 
This dataset is assumed to be clean and without any missing or dirty values.

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [2]:
def encode_categorical_columns(df):
    # B: workclass
    # D: education
    # J: sex
    target_cols = ['workclass', 'education', 'sex']
    

    le = LabelEncoder()
    
    for col in target_cols:
        df[col] = le.fit_transform(df[col])
        

    # Show the first 15 records
    print("\nThe first 15 records:")
    print(df.head(15))
    
    # Save Result
    output_file = 'result1-2.csv'
    df.to_csv(output_file, index=False)
    print(f"Save the Data to {output_file}")
    
    return df

In [3]:
def normalize_capital_columns(df):

    # K: capital-gain
    # L: capital-loss
    norm_cols = ['capital-gain', 'capital-loss']
    
    # 1. Print Mean, Std (Before Normalization)
    print("Before Normalization:")
    for col in norm_cols:
        print(f"  {col}: Mean = {df[col].mean():.4f}, Std = {df[col].std():.4f}")
        
    # 2. Z-transform: z = (x - mean) / std
    for col in norm_cols:
        mean_val = df[col].mean()
        std_val = df[col].std(ddof=0) 
        df[col] = (df[col] - mean_val) / std_val
    
    # 3. Print Mean, Std (After Normalization) 
    # Check Mean ≈ 0, Std ≈ 1
    print("\nAfter Normalization:")
    for col in norm_cols:
        print(f"  {col}: Mean = {df[col].mean():.4f}, Std = {df[col].std():.4f}")
        
    # 4. Show the last 15 records
    print("\nThe last 15 records of Target Columns):")
    print(df.tail(15))
    
    # Save Result
    output_file = 'result1-3.csv'
    df.to_csv(output_file, index=False)
    print(f"Save the Data to {output_file}")
    
    return df

In [4]:
if __name__ == "__main__":
    df = pd.read_csv('result1-1.csv')
    df_encoded = encode_categorical_columns(df)
    df_normalized = normalize_capital_columns(df_encoded)

The first 15 records:
    age  workclass  fnlwgt  education  education-num         marital-status  \
0    39          5   77516          9             13          Never-married
1    50          4   83311          9             13     Married-civ-spouse
2    38          2  215646         11              9               Divorced
3    53          2  234721          1              7     Married-civ-spouse
4    28          2  338409          9             13     Married-civ-spouse
5    37          2  284582         12             14     Married-civ-spouse
6    49          2  160187          6              5  Married-spouse-absent
7    52          4  209642         11              9     Married-civ-spouse
8    31          2   45781         12             14          Never-married
9    42          2  159449          9             13     Married-civ-spouse
10   37          2  280464         15             10     Married-civ-spouse
11   30          5  141297          9             13     Married-civ-spouse
12   23          2  122272          9             13          Never-married
13   32          2  205019          7             12          Never-married
14   34          2  245487          5              4     Married-civ-spouse

           occupation   relationship                race  sex  capital-gain  \
0        Adm-clerical  Not-in-family               White    1          2174
1     Exec-managerial        Husband               White    1             0
2   Handlers-cleaners  Not-in-family               White    1             0
3   Handlers-cleaners        Husband               Black    1             0
4      Prof-specialty           Wife               Black    0             0
5     Exec-managerial           Wife               White    0             0
6       Other-service  Not-in-family               Black    0             0
7     Exec-managerial        Husband               White    1             0
8      Prof-specialty  Not-in-family               White    0         14084
9     Exec-managerial        Husband               White    1          5178
10    Exec-managerial        Husband               Black    1             0
11     Prof-specialty        Husband  Asian-Pac-Islander    1             0
12       Adm-clerical      Own-child               White    0             0
13              Sales  Not-in-family               Black    1             0
14   Transport-moving        Husband  Amer-Indian-Eskimo    1             0

    capital-loss  hours-per-week native-country  class
0              0              40  United-States  <=50K
1              0              13  United-States  <=50K
2              0              40  United-States  <=50K
3              0              40  United-States  <=50K
4              0              40           Cuba  <=50K
5              0              40  United-States  <=50K
6              0              16        Jamaica  <=50K
7              0              45  United-States   >50K
8              0              50  United-States   >50K
9              0              40  United-States   >50K
10             0              80  United-States   >50K
11             0              40          India   >50K
12             0              30  United-States  <=50K
13             0              50  United-States  <=50K
14             0              45         Mexico  <=50K
Save the Data to result1-2.csv
Before Normalization:
  capital-gain: Mean = 1092.0079, Std = 7406.3465
  capital-loss: Mean = 88.3725, Std = 404.2984

After Normalization:
  capital-gain: Mean = -0.0000, Std = 1.0000
  capital-loss: Mean = 0.0000, Std = 1.0000

The last 15 records of Target Columns):
       age  workclass  fnlwgt  education  education-num      marital-status  \
30147   37          2  198216          7             12            Divorced
30148   43          2  260761         11              9  Married-civ-spouse
30149   65          4   99359         14             15       Never-married
30150   43          5  255835         15             10            Divorced
30151   43          4   27242         15             10  Married-civ-spouse
30152   32          2   34066          0              6  Married-civ-spouse
30153   43          2   84661          8             11  Married-civ-spouse
30154   32          2  116138         12             14       Never-married
30155   53          2  321865         12             14  Married-civ-spouse
30156   22          2  310152         15             10       Never-married
30157   27          2  257302          7             12  Married-civ-spouse
30158   40          2  154374         11              9  Married-civ-spouse
30159   58          2  151910         11              9             Widowed
30160   22          2  201490         11              9       Never-married
30161   52          3  287927         11              9  Married-civ-spouse

              occupation    relationship                race  sex  \
30147       Tech-support   Not-in-family               White    0
30148  Machine-op-inspct         Husband               White    1
30149     Prof-specialty   Not-in-family               White    1
30150       Adm-clerical  Other-relative               White    0
30151       Craft-repair         Husband               White    1
30152  Handlers-cleaners         Husband  Amer-Indian-Eskimo    1
30153              Sales         Husband               White    1
30154       Tech-support   Not-in-family  Asian-Pac-Islander    1
30155    Exec-managerial         Husband               White    1
30156    Protective-serv   Not-in-family               White    1
30157       Tech-support            Wife               White    0
30158  Machine-op-inspct         Husband               White    1
30159       Adm-clerical       Unmarried               White    0
30160       Adm-clerical       Own-child               White    1
30161    Exec-managerial            Wife               White    0

       capital-gain  capital-loss  hours-per-week native-country  class
30147     -0.147445     -0.218586              40  United-States  <=50K
30148     -0.147445     -0.218586              40         Mexico  <=50K
30149     -0.000811     -0.218586              60  United-States  <=50K
30150     -0.147445     -0.218586              40  United-States  <=50K
30151     -0.147445     -0.218586              50  United-States  <=50K
30152     -0.147445     -0.218586              40  United-States  <=50K
30153     -0.147445     -0.218586              45  United-States  <=50K
30154     -0.147445     -0.218586              11         Taiwan  <=50K
30155     -0.147445     -0.218586              40  United-States   >50K
30156     -0.147445     -0.218586              40  United-States  <=50K
30157     -0.147445     -0.218586              38  United-States  <=50K
30158     -0.147445     -0.218586              40  United-States   >50K
30159     -0.147445     -0.218586              40  United-States  <=50K
30160     -0.147445     -0.218586              20  United-States  <=50K
30161      1.881120     -0.218586              40  United-States   >50K
Save the Data to result1-3.csv